/* You can add global styles to this file, and also import other style files */
@import "./assets/variables";
@import "../node_modules/bootstrap/dist/css/bootstrap-grid.min";
body{
  margin: 0px;
  padding:0px;
  background-color: $ng-secondary-color;
  font-family: $ng-font-family;
  font-size: 12px;
  color: $ng-nav-font-normal;
}

