<div>
  <section class="sect-1">
    <div class="section-txt-container">
      <h1 class="section-title">
        Empowering Entreprenuers
      </h1>
      <p class="section-msg">
        Culpa qui officia deserunt mollit anim id est laborum. Sed ut
        perspiciatis unde omnis iste natus error sit voluptartem accusantium
        doloremque laudantium, totam rem aperiam,
      </p>
    </div>

    <img src="/assets/ee_img.svg" alt="" />
  </section>
</div>

<div>
  <section class="sect-2">
    <img src="/assets/sect2.svg" alt="" />
    <div class="section-txt-container">
      <h1 class="section-title">
        Earth and Soul Adventures
      </h1>
      <p class="section-msg">
        Culpa qui officia deserunt mollit anim id est laborum. Sed ut
        perspiciatis unde omnis iste natus error sit voluptartem accusantium
        doloremque laudantium, totam rem aperiam,
      </p>
    </div>
  </section>
</div>

<div>
  <section class="sect-3">
    <div class="section-txt-container-cst3">
      <h1 class="section-title">
        Life Coach
      </h1>
      <p class="section-msg">
        Culpa qui officia deserunt mollit anim id est laborum. Sed ut
        perspiciatis unde omnis iste natus error sit voluptartem accusantium
        doloremque laudantium, totam rem aperiam,
      </p>
      <img src="/assets/coach_img.svg" alt="" />
    </div>
  </section>
</div>

<div class="abt-float">
  <img src="/assets/rachel_founder.png" alt="" />
  <span class="about-msg">
    Rachel Gilmore is a life coach, Entreprenuer and transformational travel counsellor . From her personal experiences, she has mastered the art of self exploration
    to identify self to form new winning patterns.
  </span>
</div>
