<div>
  <section class="sect-1">
    <div class="section-txt-container">
      <h1 class="section-title">
        Empowering Entreprenuers
      </h1>
      <p class="section-msg">
        Culpa qui officia deserunt mollit anim id est laborum. Sed ut
        perspiciatis unde omnis iste natus error sit voluptartem accusantium
        doloremque laudantium, totam rem aperiam,
      </p>

      <app-group-image-links></app-group-image-links>
    </div>
    <div class="section-img">
      <img src="/assets/ee_img.svg" alt="" />
    </div>
  </section>
</div>

<div>
  <section class="sect-2">
    <div class="section-img">
      <img src="/assets/sect2.svg" alt="" />
    </div>

    <div class="section-txt-container">
      <h1 class="section-title">
        Earth and Soul Adventures
      </h1>
      <p class="section-msg">
        Culpa qui officia deserunt mollit anim id est laborum. Sed ut
        perspiciatis unde omnis iste natus error sit voluptartem accusantium
        doloremque laudantium, totam rem aperiam,
      </p>
      <app-group-image-links></app-group-image-links>
      <hr />
    </div>
  </section>
</div>

<div>
  <section class="sect-3">
    <div class="section-txt-container-cst3">
      <h1 class="section-title">
        Life Coach - NLP Certified
      </h1>
      <p class="section-msg">
        Culpa qui officia deserunt mollit anim id est laborum. Sed ut
        perspiciatis unde omnis iste natus error sit voluptartem accusantium
        doloremque laudantium, totam rem aperiam,
      </p>
      <app-group-image-links></app-group-image-links>
      <div class="section-img">
        <img src="/assets/coach_img.svg" alt="" />
      </div>
    </div>
  </section>
</div>

<!-- <div class="abt-float">
  <img src="/assets/rachel_founder.png" alt="" />
  <span class="about-msg">
    <span style="color: purple;"><strong>Rachel Gilmore</strong></span>
    <br />Freedom coach, Entreprenuer and Transformational Travel Counsellor.
  </span>
</div> -->

<!-- <div

  style="


    left: 0px;
    background-color: #a4a4a4;
    position: fixed;
    top: 75px;
    width: auto;
    padding: 5px;
    margin: auto;
    font-size: 13px;
    /* text-align: center; */
    display: inline-block;

  "
>
  <p>Site under Construction</p>
</div> -->

<div class="sect-4">
  <div class="mini-sect">
    <img src="/assets/Dare.svg" alt=""/>
    <img src="/assets/adventurer.svg" alt="" />
    <p>
      Subscribe to the weekly podcast to discover experiences through other
      travelers
    </p>
  </div>

  <div class="mini-sect-pd">
    <h1>Podcast</h1>
    <app-podcast [podcasts]="homePodcasts"></app-podcast>
  </div>

  <!-- <div class="pd-headings-container">
    <img src="/assets/pd-img-title.png" alt="" />

  </div> -->
  <!-- <h1>
    Dare to Adventure podcast
  </h1> -->
  <!-- <h1>
    Discover how this could change your life, the power of travel through
    other's experiences
  </h1> -->

  <!-- <app-podcast [podcasts]="homePodcasts"></app-podcast> -->
</div>

<!-- <div>
  <section class="sect-5">
    <h1>Testimonials</h1>
  </section>
</div> -->
