@use 'sass:map';
@import "../../../assets/variables";
$section-size:450px;

@mixin section($bg-color, $height) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: $bg-color;
  height: $height;
  width: auto;
}

@mixin horizontal_line($color) {
  hr {
    width: 220px;
    margin-top: 10px;
    background-color: $color;
    border: 1px solid $color;
    border-radius: 5px;
    opacity: 0;
  }
}

@mixin section-title($color) {
  font-size: 38px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: $color;
  //@include dynamic-underline($color);
}

.sect-1 {
  @include section(white, $section-size);
  @include horizontal_line(#02889f);
  margin-top: 70px;

  h1 {
    display: inline;
    @include section-title(#e64a5e);
  }
  img {
    margin: 80px 50px 0px 60px;
    width: 360px;
    height: 360px;
  }
}

.sect-2 {
  @include section(#c9efd7, $section-size);
  @include horizontal_line(#02889f);
  h1 {
    display: inline;
    @include section-title(#167594);
  }
  img {
    margin: 80px 50px 0px 50px;
    width: 360px;
    height: 360px;
  }
}

.sect-3 {
  @include section(#f9fff7, $section-size);
  @include horizontal_line(#02889f);
  h1 {
    display: inline;
    @include section-title(#556ca4);
  }
  img {
    margin: 0px 50px 0px 50px;
    width: auto;
    height: 200px;
    margin-left: 120px;
  }
}

@mixin section-txt-container() {
  display: inline-block;
  margin: 65px 90px 0px 90px;
  text-align: center;
}

.section-txt-container-cst3 {
  @include section-txt-container();
  margin-top: 40px;
}

.section-txt-container {
  @include section-txt-container();
}

.section-msg {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1483a7;
  width: 400px;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  line-height: 20px;
}

.abt-float {
  width: 170px;
  //height: 380px;
  background-color: white;
  position: fixed;
  top: 50px;
  left: 30px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: map-get($map: $z-index, $key: "mid");
  border-radius: 5px;
  opacity: 0.9;

  img {
    width: 160px;
    height: 160px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 2px;
    display: block;
  }

  .about-msg {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #756b6b;
    //width: 400px;
    margin: auto;
    text-align: center;
    margin: 10px 2px 10px 2px;
    line-height: 17px;
    display: block;
  }
}

//Podcast variables

$pd-bg-color:black;
$pd-el-color:white;

.sect-4 {
  // background-color:$pd-bg-color;
  // text-align: center;
  padding: 35px 0px 35px 0px;
  @include section(#f9fff7, auto);
  background-image: url("/assets/pdbkgd.jpg");
   background-repeat: no-repeat;
   background-size:cover;
  //  background-position-x: 10%;
  //  background-position-y: center;
   //background-blend-mode: normal;

  h1 {
    margin: auto;
    padding: 28px 0px 8px 0px;

    @include section-title(#f2b60c);
    font-size: 35px;
    //background-color: #1e4589;
    display: inline;
    font-weight: normal;
    //text-shadow: 0 0 2px white, 0 0 2px white;

  }
}

.pd-headings-container{
  max-width: 480px;
  text-align: center;
  display: inline-block;
  margin: 0px auto auto 160px;

  p{
    //max-width: 300px;
    display: inline-block;
    line-height: 20px;
    font-size: 15px;
    //font-style: italic;
  }

  img{
    height: 250px;
    width:250px;
    margin:20px;
    filter: drop-shadow(5px 5px 5px #222);

  }
}



.sect-5 {
  @include section(#f5f5f5, 400px);
  height: 250px;
  display: block;
  text-align: center;

  h1 {
    padding: 50px 0px 30px 0px;
    @include section-title(#5d6769);
    display: inline-block;
  }
}
