<div>
  <section class="sect-1">
    <div class="section-txt-container">
      <h1 class="section-title">
        Empowering Entreprenuers
      </h1>
      <p class="section-msg">
        Culpa qui officia deserunt mollit anim id est laborum. Sed ut
        perspiciatis unde omnis iste natus error sit voluptartem accusantium
        doloremque laudantium, totam rem aperiam,
      </p>

      <app-group-image-links></app-group-image-links>
      <hr />
    </div>

    <img src="/assets/ee_img.svg" alt="" />
  </section>
</div>

<div>
  <section class="sect-2">
    <img src="/assets/sect2.svg" alt="" />
    <div class="section-txt-container">
      <h1 class="section-title">
        Earth and Soul Adventures
      </h1>
      <p class="section-msg">
        Culpa qui officia deserunt mollit anim id est laborum. Sed ut
        perspiciatis unde omnis iste natus error sit voluptartem accusantium
        doloremque laudantium, totam rem aperiam,
      </p>
      <app-group-image-links></app-group-image-links>
      <hr />
    </div>
  </section>
</div>

<div>
  <section class="sect-3">
    <div class="section-txt-container-cst3">
      <h1 class="section-title">
        Life Coach
      </h1>
      <p class="section-msg">
        Culpa qui officia deserunt mollit anim id est laborum. Sed ut
        perspiciatis unde omnis iste natus error sit voluptartem accusantium
        doloremque laudantium, totam rem aperiam,
      </p>
      <app-group-image-links></app-group-image-links>
      <hr />
      <img src="/assets/coach_img.svg" alt="" />
    </div>
  </section>
</div>

<div class="abt-float">
  <img src="/assets/rachel_founder.png" alt="" />
  <span class="about-msg">
    <span style="color: purple;"><strong>Rachel Gilmore</strong></span>
    <br />Freedom coach, Entreprenuer and Transformational Travel Counsellor.
  </span>
</div>

<div class="sect-4">
  <div class="pd-headings-container">
    <img src="/assets/pd-img-title.png" alt="" />
    <h1>
    Transformational Travel
  </h1>
  <p>Discover how this could change your life, the power of travel through other's experiences</p>
  </div>

 <app-podcast [podcasts]="homePodcasts" ></app-podcast>
</div>

<div>
  <section class="sect-5">
    <!-- <h1>Testimonials</h1> -->
  </section>
</div>
