<footer>
  <div class="first-in-ft">
    <div class="links-div">
      <span>Contact Us</span>
      <span>Testimonial</span>
      <span>Gallery</span>
      <span>Experiences</span>
      <span>Events</span>
      <span>Activities</span>
      <span>FAQS</span>
      <span>About</span>
    </div>

    <div class="content-div">
      <span
        ><span class="footer-headings">Contact info </span
        ><br />rgilmorecpt@gmail.com<br />+256-774561938</span
      >
    </div>
    <div class="content-div">
      <span
        ><span class="footer-headings">Subscribe for timely updates</span
        ><br /><span>Get notified about all activities and events <br /> </span>
        <form>
          <input type="text" name="emailAddress" placeholder="Email" /><br />
          <button>Subsribe</button>
        </form>
      </span>
    </div>
    <div class="content-div">
      <span class="footer-headings">Partners</span><br />
      <a href="https://www.transformational.travel/" target="_blank">

      <img
        src="/assets/ttc_internal_css.svg"
        width="100px"
        height="60px"
        style="margin-left: 28px; margin-top: 4px;"
      />
    </a>
    </div>
  </div>
  <div class="second-in-ft">
    <div class="copyright">
       <span style="font-size: 2px;">&copy;</span> 2020  Rachel Gilmore.
    </div>


  </div>
</footer>
