@use 'sass:map';
@import "../../../../assets/variables";

@mixin media-links-container($pos){
  display: inline-block;
  left:$pos;
  z-index: map-get($map: $z-index, $key: "low");

  //float:right;
  //background-color: #37478b;
  text-align: center;
  margin-top: 30px;
  margin-right: 25px;

  img{
   // display:block;
    width:19px;
    height: 19px;
    margin:5px;
    opacity: $link-opacity-normal - 0.1;
    //padding-top: 36px;
    &:hover{
      opacity: $link-opacity-hover;
    }
  }
}

//for small screens to 767
@media screen and (max-width: 768px) {
  .media-links-container{
    @include media-links-container(40%);

  }
}

//for larger screens above 768
@media screen and (min-width: 769px) {
  .media-links-container{
    @include media-links-container(8%);
  }
}



