$ng-primary-color: #0e84a7;
$ng-secondary-color: #08586f;
$ng-nav-font: 14px;
$ng-font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
  "Arial", "sans-serif";
$ng-nav-font-hover: #ffac06;
$ng-nav-font-normal: #f5f5f7;
