@use 'sass:map';
@import "../../../../assets/variables";

.parent-container{
  width:auto;
  height: auto;
  margin-top:20px;
}

.image-container{
  display:inline-block;
  margin:5px 20px 5px 20px;
  color:#64767d;
  text-align: center;
  img{
    width:24px;
    height: 24px;
  }

  &:hover{
    color:#e64a5e;
  }
}


