@use 'sass:map';
@import "../../../../assets/variables";

$nav-bar-height:75px;



@mixin nav-cmp($height,$font-size,$pos) {
  display: block;
  position: fixed;
 overflow: hidden;
  left: 0px;
  top: 0px;
  height: $height;
  width: 100%;
  font-size: $font-size;
  background-color: $ng-secondary-color;
  text-align: center;
  font-style: normal;
  z-index: map-get($map: $z-index, $key: "low");
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // background-image: linear-gradient(160deg, #0388a0 60%, #61acae 85%);
}
//links on navigation bar
@mixin  nav-link() {
  a {
    display: inline-block;
    padding-left: 0px;
    padding-right:0px;
    padding-top: 36px;
    padding-bottom: 5px;
    margin: 0px 15px 0px 15px;
    text-decoration: none;
    color: white;
    -webkit-tap-highlight-color:transparent;
    //opacity: $link-opacity-normal;
    @include dynamic-underline(#d65365, #d65365);


  }


}
// navigation drop down for small screens
@mixin nav-dropdown {
  width: 100%;
  height: 100%;
  background-color: $ng-secondary-color;
  position: fixed;
  left: 0px;
  top: $nav-bar-height;
  text-align: center;
  font-family: $ng-font-family;
  z-index: map-get($map: $z-index, $key: "top");
}


//links on small displays container
@mixin nav-links-icon($display){

    float: right;
    padding: 15px 10px 0px 20px;
    display: $display;
   // text-align: center;
   // color:$ng-nav-font-hover;


}


//hide big display links
@mixin nav-hide($display){
    display: $display;
}

//from 767 to bigger screens
@media screen and (min-width: 770px) {
  .nav-cmp {
    @include nav-cmp($nav-bar-height,16px,2%);
    @include nav-link();
  }
  .nav-links-icon{
    @include nav-links-icon(none);
  }

  .nav-hide{
    @include nav-hide(inline-block);
  }

  .logo-img{
    display: block;
    padding-top: 5px;
    padding-left: auto;
    float: left;
    overflow: hidden;

  }
}

//for small screens to 767
@media screen and (max-width: 769px) {
  .nav-cmp {
    @include nav-cmp($nav-bar-height,14px,40%);
  }

  .nav-hide{
    @include nav-hide(none);
  }

  .nav-links-icon{
    @include nav-links-icon(inline-block);
  }

  .nav-dropdown{
    @include nav-dropdown();
    @include nav-link();
    a{
      display: block;
    }
  }

  .logo-img{
    display: none;
    padding-top: 10px;

    float: left;
    overflow: hidden;

  }

  app-social-media-links{
    display: none;
  }
}

.large-nav-links{
  float:right;
  padding-right: 1%;
}
