<nav class="nav-cmp" [ngStyle]="stateStyles" >
  <span class="nav-links-icon" (click)="toggleNavigation()">
    <img src="/assets/menu-24px.svg" width="44px" height="44px" />
  </span>
  <span *ngIf="showElement" class="nav-dropdown">
    <a href="#" *ngFor="let link of links"> {{ link }}</a>
  </span>

  <span *ngIf="!showElement" class="large-nav-links">
    <a [ngStyle]="linkStyles" class="nav-hide" href="#" *ngFor="let link of links"> {{ link }}</a>
  </span>
  <span class="logo-img">
    <img src="/assets/main_logo3.svg" width="70px" height="70px" />
  </span>

  <!-- <app-social-media-links></app-social-media-links> -->
</nav>
