@use 'sass:map';
@import "../../../../assets/variables";
//Navigation bar container
@mixin nav-cmp($height) {
  position: fixed;
  left: 0px;
  top: 0px;
  height: $height;
  width: 100%;
  font-size: $ng-nav-font;
  background-color: $ng-secondary-color;
  text-align: center;
  font-family: $ng-font-family;
  font-style: normal;
  font-size: 14px;
  z-index: map-get($map: $z-index, $key: "low");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  img{
    width:78px;
    height:78px;
    top: 0px;
    right:20%;
    display: inline-block;
    position: fixed;
    z-index: map-get($map: $z-index, $key: "low");

  }

  //  background-image: url("/assets/Brightest.png");
  //  background-repeat: no-repeat;
  //  background-size: 45px 45px;
  //  background-position-x: 10%;
  //  background-position-y: center;
  //  background-blend-mode: normal;
}
//links on navigation bar
@mixin  nav-link() {
  a {
    padding-left: 1.5%;
    padding-right:1.5%;
    padding-top: 36px;
    margin: 0px;
    text-decoration: none;
    color: $ng-nav-font-normal;
    -webkit-tap-highlight-color:transparent;
  }
  a:hover {
    //color: $ng-nav-font-hover;
    font-size: 18px;
  }

}
// navigation drop down for small screens
@mixin nav-dropdown {
  width: 100%;
  height: 100%;
  background-color: $ng-secondary-color;
  position: fixed;
  left: 0px;
  top: 48px;
  text-align: center;
  font-family: $ng-font-family;
  z-index: map-get($map: $z-index, $key: "top");
}

//links on small displays container
@mixin nav-links-icon($display){
    height: 30px;
    width: 30px;
    float: left;
    padding-left: 10px;
    padding-top:1.5%;
    text-align: center;
    color:$ng-nav-font-hover;
    display: $display;
}


//hide big display links
@mixin nav-hide($display){
    display: $display;
}

//from 767 to bigger screens
@media screen and (min-width: 767px) {
  .nav-cmp {
    @include nav-cmp(75px);
    @include nav-link();
  }
  .nav-links-icon{
    @include nav-links-icon(none);
  }

  .nav-hide{
    @include nav-hide(inline-block);
  }
}

//for small screens to 767
@media screen and (max-width: 767px) {
  .nav-cmp {
    @include nav-cmp(48px);
  }

  .nav-hide{
    @include nav-hide(none);
  }

  .nav-links-icon{
    @include nav-links-icon(block);
  }

  .nav-dropdown{
    @include nav-dropdown();
    @include nav-link();
    a{
      display: block;
    }
  }
}


